<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー一覧</title>
    <link rel="stylesheet" href="style.css">
</head>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<body>

    <h2>ユーザー一覧</h2>

    <!-- 新規登録リンク -->
    <a href="create.html">新規登録</a>

    <!-- ユーザー一覧テーブル -->
    <table border="1">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>ログインID</th>
                <th>氏名</th>
                <th>支店</th>
                <th>部署</th>
                <th>状態</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td><a href="create.html">編集</a></td>
                <td th:text="${user.id}"></td>
                <td th:text="${user.loginId}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.branch}"></td>
                <td th:text="${user.department}"></td>
                <td th:text="${user.active}">停止中<form method="post" action="index.html" style="display:inline;"><input type="submit" value="復活">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>
<script src="script2.js"></script>

</html>